@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/tt-lakes/TTLakes-Regular.woff') format('woff'),
    url('../fonts/tt-lakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes button-effect {
    0% {
        filter: opacity(100%)
    }
    50% {
        filter: opacity(40%)
    }
    100% {
        filter: opacity(100%)
    }
}

/* Обнуление стилей */


/* Мобильная версия */

body {
    font-family: 'TT Lakes Regular';
    padding: 0;
    margin: 0;
    background: #F8F8F8;
}

.burger {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    position: fixed;
    padding: 20px;
    left: 0;
    background: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.container {
    width: 320px;    
}

.burger-navbar__list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.burger-navbar {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.control-burger__mob{
    gap: 16px;
}

.logo-icon {
    display: flex;
    width: 97px;
    height: 51px;
}

.search {
    margin-right: 24px;
}


.header-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 16px;
    background: #FFFFFF;
}

.header-navbar__list {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 10px;
}

.header-navbar__list:nth-child(1){
    flex-grow: 1;
    position: relative;
}

.header-navbar__list:nth-child(2){
    position: relative;
}

.header-navbar__list:nth-child(3){
    position: relative;
}

.header-navbar__list:nth-child(2) {
    display: none;
}

.header-navbar__list:nth-child(1)::after {
    content: '';
    height: 32px;
    width: 2px;
    background: #EAEAEA;
    border-radius: 1px;
}

.header-navbar__list:last-child {
    margin-right: 16px;
}

.header__section {
    display: flex;
}

.header__section_burger {
    display: flex;
    gap: 16px;
}

.logo {
    width: 100%;
    height: 100%;
}

.template-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    gap: 8px;   
}

.template-icon__text {
    display: none;
}

.template-icon__img {  
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;    
}

.template-icon__img:hover{
    opacity: 0.6;
}

.title {
    display: flex;
    box-shadow: 0px -1px #D9FFF5;
    padding-top: 24px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: bold;
}

.title::before {
    content: '';
    line-height: 40px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #41F6D7;
    border-radius: 2px;
    margin-right: 16px;
}

.title_burger {
    font-size: 16px;
    position: relative; 
    line-height: 24px;
    color: #7E7E82;
    box-shadow: none;
}


.navbar { 
    overflow: scroll;          
    white-space: nowrap;
    margin-left: 16px;
}

.navbar_burger {
    overflow: unset;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    display: flex;
}

.burger-menu__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 50px;
}

.navbar__link {
    color: #7E7E82;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid transparent;
}

.burger__link {
    color: #1B1C21;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.navbar__link:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
    transition: 0.5s;
}

.section {
    display: flex;
    flex-direction: column;
}

.burger-menu {
    position: relative;
    display: flex;
    gap: 32px;
    flex-direction: column;
    flex-grow: 1;
}

.section__text-box{
    display: flex;
    max-width: 280px;
    max-height: 90px;
    overflow: hidden;
    margin: 24px 16px;
    margin-bottom: 16px;
    flex-shrink: 0;
    gap: 16px;
    flex-direction: column;
}

.section__paragraph {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.section-button {    
    margin-left: 24px;
    display: flex;
    gap: 16px;
    border: none;
    align-items: center;
    background-color: transparent;
}

.section-button::before {
    content: url('../img/button/icon.svg');    
}


.section-button {
    display: flex;
    gap: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bolder;
}

.section__image-template {
    display: inline-block;
    width: 320px;
    height: 176px;
}

.image {
    width: 100%;
    height: 100%;
}


::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.burger-footer {
    display: flex;
    flex-direction: column;
}

.footer__text-box {
    display: flex;
    flex-direction: column;
    gap: 12px;    
    margin-top: 16px;
}

.language-selector {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.footer__link {
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.footer__link_xl {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: bold;    
}

.burger-navbar__list:nth-child(1) {
    flex-grow: 1;
}

label {
    cursor: pointer;
}

input{
    position: absolute;
    visibility: hidden;
}

 input:checked ~ label {
    color: #7E7E82;
}

.main-menu-container {
    display: flex;
    max-width: 222px;
    max-height: 876px;
    flex-direction: column;
}

.burger__link:hover {
    color: #7E7E82;
    transition-duration: 0.5s;
}

.burger__link:hover::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -21px;
    top: -5px;
    background-color: #41F6D7;
    width: 4px;
    height: 32px;
    border-radius: 2px;
    transition-duration: 3s;
}

.swiper-box {
    gap: 16px;
}

.swiper-box__header {
    padding: 16px;
    box-shadow: 0px 1px #D9FFF5 inset;
    size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    background: linear-gradient(270deg, #FFFFFF 0%,#F8F8F8  98.61%);
}

.swiper-box__list {
    display: flex;
    flex-wrap: nowrap;
    /*gap: 24px;*/
}
/*
.swiper-box__item {
    display: flex;
}
*/
.swiper-box__item {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    min-width: 240px;
    height: 72px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
}

.swiper-box__btn {
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
/*
.swiper-box__img {
    width: 25%;
}
*/

.swiper-box__navbar {        
    white-space: nowrap;
    padding-top: 16px;
    padding-bottom: 50px;
    margin-left: 16px;
    max-height: 500px;
}

.swiper-box__button {
    display: none;
    margin-left: 16px;
}

.hidden {
    display: none;
}


.aside__lang-form {    
    margin-top: 40px;
}


@media (min-width: 768px) and (max-width: 1119px) {
    .container {
        width: 768px;
        font-family: 'TT Lakes Regular';
        padding: 0;
        margin: 0;
    }

    .logo {
        border: 0;     
    }

    .header-navbar {
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-navbar__list:nth-child(2) {
        display: flex;
    }
    
    .header__section-template_adaptive{
        display: flex;
        justify-content: flex-end;
    }

    .header-navbar__list:first-child::after{
        display: none;
    }

    .header-navbar__list:nth-child(1)::after{
        content: '';
        display: inline-block;
        position: absolute;
        left: 47px;
        height: 32px;
        width: 2px;
        background: #EAEAEA;
        border-radius: 1px;
    }

    .header-navbar__list:nth-child(3):before{
        content: '';
        height: 32px;
        width: 2px;
        background: #EAEAEA;
        border-radius: 1px;
    }

    .navbar { 
        margin-left: 24px;
    }

    .menu__main__contacts {
        display: flex;
        gap: 16px;
    }

    .section {
        flex-direction: row;
    }

    .burger-menu {
        flex-direction: column;
    }

    .section__text-box {
        flex-direction: column;
        max-width: 312px;
        max-height: 160px;        
        overflow: hidden;
        flex-shrink: 0;
    }

    .section__container {
        flex-direction: column;
        gap: 16px;
    }

    .section-button  {    
        margin-left: 33px;
    }

    .section__paragraph {
        padding-bottom: 0px;
    }

    .section__image-template {
        width: 360px;
        height: 208px;
        border-radius: 6px;
    }

    .image {
        border-radius: 6px;
    }

    .swiper-box__list {
        flex-wrap: wrap;
        gap: 16px;
    }

    .swiper-box__element {
        width: 224px;
    }
    
    .swiper-pagination {
        display: none;
    }

    .swiper-box__button {
        display: flex;
        gap: 16px;
        border: none;
        align-items: center;
        background-color: transparent;
        font-size: 16px;
        line-height: 24px;
        font-weight: bolder;
    }
    
    .swiper-box__button::before {
        content: url('../img/button/icon.svg');    
    }

    .swiper-box__navbar {        
        padding-bottom: 0;
        margin-bottom: 24px;
        max-height: 500px;
        transition: max-height 1s;
    }

    .swiper-box__navbar_hidden {
        transition: max-height 1s;
        padding-bottom: 0;
        margin-bottom: 24px;
        overflow: hidden;
        max-height: 184px;
    }

    .swiper-box__navbar_active {
        transition: max-height 1s;
        max-height: 500px;
    }
}

@media (min-width: 1120px){
    .container {
        width: 1120px;
        margin: 0 auto;
    }

    .header-navbar{
        background-color: transparent;
        justify-content: flex-end;
    }

    .header-navbar__list:first-child{
        display: none;
    }
    

    .title {
        position: absolute;
        top: 24px;
        margin: 0;
        padding: 0;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        font-weight: bold;
        box-shadow: none;
    }

    .navbar__list {
        flex-wrap: wrap;
    }

    .navbar { 
        margin-left: 32px;
    }

    .template-icon__text  {
        display: flex;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    .section__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .page-content__img{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        width: 530px;
        height: 385px;
        margin-right: 15px;
    }

    .section__image-template {
        width: 531px;
        height: 307px;
        
    }

    .image {
        border-radius: 6px;
    }

    .section {
        flex-direction: row;
    }

    .section__text-box {
        flex-direction: column;
        max-width: 490px;
        max-height: 160px;
    }

    .section-button  {    
        margin-left: 40px;
        gap: 16px;
    }

    .burger-menu {
        flex-direction: column;
    }

    .title_burger {
        font-size: 16px;
        position: relative; 
        line-height: 24px;
        color: #7E7E82;
        box-shadow: none;
    }

    .navbar__list_burger {
        flex-direction: column;
        gap: 32px;
        /*margin-left: 24px;*/
    }

    .navbar_burger {
        margin: 0;
    }

    .swiper-box__list {
        flex-wrap: wrap;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-box__list {
        gap: 24px;
    }

    .swiper-box__button {
        display: flex;
        gap: 16px;
        border: none;
        align-items: center;
        background-color: transparent;
        font-size: 16px;
        line-height: 24px;
        font-weight: bolder;
    }
    
    .swiper-box__button::before {
        content: url('../img/button/icon.svg');    
    }

    .swiper-box__navbar {        
        padding-bottom: 0;
        margin-bottom: 24px;
        max-height: 500px;
        transition: max-height 1s;
    }

    .swiper-box__navbar_hidden {        
        transition: max-height 1s;        
        max-height: 184px;
        overflow: hidden; 
    }

    .swiper-box__navbar_active {
        transition: max-height 1s;
        max-height: 500px;
    }
}

.burger-menu__navbar {
    flex-direction: column;
    gap: 32px;
    flex-direction: column;
    flex-grow: 1;
}